/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */




  .sessionForm {
    display: flex;
    justify-content: center;
    width: 25%;
    flex-direction: column;
    height: 100%;
    align-items: center;
  }

  .input1 {padding: 10px;margin: 0 5px 0 5px;}

  .button1 {
      display: block;
      width: 33%;
  }

  .submit-button {
    margin: 0 auto;
    height: 10%;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
  }

  .splash-page{
     background-image: url("https://hd.unsplash.com/photo-1428550443830-190057dc8098");
     background-position: center center;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 0;
     display: flex;
     justify-content: center;
     align-items: center;
   }

   .logo-buttons{width: 15%;margin: 0 auto;height: 20%;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;}

   .splash-link{
     font-size: 25px;
     font-family: sans-serif;
     padding: 10px;
   }
   .login-fields {
     display: flex;
     justify-content: space-between;
     margin: 0;
   }

   .field {
     background-image: url("https://s16.postimg.io/oyjyrm16b/jittr_logo1.png");
     background-position: center center;
     background-repeat: no-repeat;
     display: flex;
     flex-direction: column;
     width: 100%;
     height: 100%;
     z-index: 1;
     justify-content: flex-end;
   }

   .form1 {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 ``}
