.content {
    display: flex;
    justify-content: center;
    background-color: oldlace;
    background-size: contain;
    padding: 30px;
    align-items: flex-start;
}

form.checkIn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkIn-item {
    width: 100%;
    margin: 0;
    color: black;
}

.checkIn-input {
    margin: 10px 7px 7px 7px;
    font-size: 15px;
    width: 40%;
    padding: 5px;
    border: 2px solid lightgray;
    opacity: 1;
    background-color: rgba(999, 999, 999, 0.7);
}

.nonCheckIn-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    padding: 30px;
}

.checkIn-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 30px;
}

.checkIn-review {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: rgba(999, 999, 999, 0.7);
}

.checkIn-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
    background-color: white;
    padding: 20px;
}

.checkIn-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.checkIn-feed > li {
    display: flex;
    justify-content: center;
    padding: 40px;
    border-bottom: solid 1px lightgrey;
}

.rating-cups {
    display: flex;
    padding: 5px 10px 10px 10px;
    font-size: xx-large;
}


.friend-requests {
    display: flex;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white;
    font-size: large;
    text-align: center;
    font-weight: bold;
    height: 99%;
    padding: 10px 0 10px 0;
}

.checkIn-review > p {
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.check-in-button {
    font-size: 15px;
    border-radius: 10%;
    color: moccasin;
    background-color: chocolate;
}

h3 {font-family: sans-serif;color: black;padding: 0 0 10px 0;margin: 0;border-bottom: 1px solid lightgray;}

.review-container > h4 {
    margin-bottom: 5px;
    color: white;
}

.checkIn-item > h4 {
    margin-top: 0;
    color: black;
    font-size: larger;
}

.checkIn-text > p > a {
  color: chocolate;
  cursor: pointer;
}
.checkIn-text > p > a:hover {
  color: coral;
  cursor: pointer}

.toggled-cups {
  color: chocolate;
  padding: 5px;
  font-size: xx-large;
}

.untoggled-cups {
  color: lightgrey;
  padding: 5px;
  font-size: xx-large;
}

input.checkIn-input::-webkit-input-placeholder {
    color: black;
    opacity: 0.5;
}

textarea.checkIn-input::-webkit-input-placeholder {
    color: black;
    opacity: 0.5;
}


.request-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    justify-content: center;
    color: chocolate;
}

.request-list > li {
    padding: 20px;
    font-family: sans-serif;
    font-weight: bold;
    border-bottom: 1px solid lightgray;
}

.request-list > li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hover-rater {
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.hover-rater > h4 {margin: 10px 7px 7px 7px;font-weight: 500;font-family: sans-serif;color: rgba(128, 128, 128, 0.8);}


.checkIn-form-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    margin-bottom: 40px;
}

.checkIn-feed-container {
    width: 100%;
    background-color: white;
    padding: 20px;
}

.errors > li {
    color: chocolate;
    padding-top: 10px;
}
