.content {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: moccasin;
    background-size: contain;
}

form.checkIn-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid lightgray;
    background-color: rgba(0, 0, 0, 0.7);
}

.checkIn-item {
    width: 100%;
    padding: 5%;
    margin: 0;
    border: 3px solid lightgray;
}

.checkIn-input {
    margin: 20px 7px 7px 7px;
    font-size: 15px;
    width: 40%;
    padding: 5px;
    border: 2px solid lightgray;
    opacity: 1;
    background-color: rgba(999, 999, 999, 0.7);
}

.nonCheckIn-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 33%;
    align-items: center;
}

.checkIn-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.checkIn-review {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  background-color: rgba(999, 999, 999, 0.7);
}

.checkIn-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}

.checkIn-feed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.checkIn-feed > li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.rating-cups {
    display: flex;
    padding: 5px 10px 10px 10px;
    font-size: xx-large;
}


.friend-requests {
    border: 1px solid lightgray;
    padding: 20px;
    display: flex;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    font-size: large;
    text-align: center;
    font-weight: bold;
}


.checkIn-review > p {
    padding: 10px 10px 10px 20px;
    font-size: 16px;
    font-weight: bold;
}

.check-in-button {
    font-size: 15px;
    border-radius: 10%;
    margin-bottom: 20px;
    color: moccasin;
    background-color: chocolate;
}

h3 {font-family: sans-serif;color: white;text-decoration: underline;}

.review-container > h4 {
    margin-bottom: 5px;
    color: white;
}

.checkIn-item > h4 {
    margin-top: 0;
    color: moccasin;
    font-size: larger;
}

.checkIn-text > p > a {color: white;}
.checkIn-text > p > a:hover {text-decoration: underline; color: chocolate}

.toggled-cups {
  color: chocolate;
  padding: 5px;
  font-size: xx-large;
}

.untoggled-cups {
  color: lightgrey;
  padding: 5px;
  font-size: xx-large;
}

input.checkIn-input::-webkit-input-placeholder {
    color: black;
    opacity: 0.5;
}

textarea.checkIn-input::-webkit-input-placeholder {
    color: black;
    opacity: 0.5;
}

.request-list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.request-list > li {
    padding: 10px;
    background-color: rgba(999, 999, 999, 0.7);
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bold;
}

.request-list > li > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hover-rater {
    color: white;
    font-size: large;
    text-align: center;
    margin-bottom: 20px;
}

.hover-rater > h4 {margin: 20px 7px 7px 7px;}
