#map-container {
  height: 250px;
  width: 350px;
  margin: 30px;
}

.location-profile-container {
  display: flex;
  justify-content: space-around;
  background-color: oldlace;
}
.location-profile-container-left {

}

.location-profile-container-right {

}
