.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  color: moccasin;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 75%;
  align-items: center;
  font-size: larger;
  height: 100%;
  font-family: sans-serif;
}

.nav-logo {
  font-family: 'Calligraffitti';
  font: cursive;
  font-size: 48px;
  font-weight: bold;
  padding-left: 5%;
}

.nav-list > li {
  padding-right: 20px;
}

.nav-logo-link > p {
    font-size: small;
}

.search-bar {display: block;position: inherit;width: 250px;}

.react-autosuggest__container {
    font-size: inherit;
    width: 250px;
}

.react-autosuggest__input {
    font-size: small;
    width: 200px;
}

react-autosuggest__suggestions-container {
    display: flex;
}

.react-autosuggest__container.react-autosuggest__container--open {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: chocolate;
    cursor: pointer;
}
