.navbar {
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: chocolate;
  color: moccasin;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  width: 75%;
  align-items: center;
  font-size: larger;
  height: 100%;
  font-family: sans-serif;
}

.nav-logo {
  font-family: 'Calligraffitti';
  font: cursive;
  font-size: 48px;
  font-weight: bold;
  padding-left: 5%;
}

.nav-list > li {
  padding-right: 20px;
}

.nav-logo-link > p {
    font-size: small;
}

.react-autosuggest__container {
    font-size: inherit;
    width: 200px;
}

div#react-autowhatever-1 {
    position: absolute;
    background-color: white;
    top: 50px;
    width: 200px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    z-index: 100;
}
.react-autosuggest__suggestion {
    padding: 5px;
}

.react-autosuggest__suggestion:focus {
  background-color: chocolate;
  color: white
}

.search-item:focus .react-autosuggest__suggestion {
  background-color: chocolate;
  color: white
}

.react-autosuggest__suggestion:hover {
  background-color: chocolate;
  color: white
}

.react-autosuggest__input {
    font-size: small;
    width: 200px;
}

react-autosuggest__suggestions-container {
    display: flex;
}

.react-autosuggest__container.react-autosuggest__container--open {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: chocolate;
    cursor: pointer;
}
