.splash-errors {
  height: 20%;
  list-style: none;
  width: 50%;
  font-size: initial;
  display: flex;
  justify-content: center;
  font-weight: bold;
  color: moccasin;
}

a.logo {
    height: inherit;
}

.sessionForm {
     display: flex;
     width: 50%;
     justify-content: center;
     flex-direction: column;
     height: 50%;
     align-items: center;
 }

 .input1 {padding: 10px;margin: 0 5px 0 5px;}

 .button1 {
     display: block;
     width: 33%;
 }

 .submit-button {
   margin: 0 auto;
   height: 20%;
   display: flex;
   width: 50%;
   justify-content: center;
   align-items: center;
 }

 .splash-page{
    background-image: url("https://hd.unsplash.com/photo-1428550443830-190057dc8098");
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .logo-buttons{
    height: 33%;
    display:
    flex;width: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: moccasin;}

  .splash-link{
    font-size: 25px;
    font-family: sans-serif;
    padding: 10px;
    text-decoration: none;
    color: moccasin;
  }
  .login-fields {
    display: flex;
    justify-content: space-between;
    margin: 15px;
  }

  .field {
    font-size: 750%;
    margin: 0;
    font-weight: inherit;
    text-decoration: inherit;
    display: flex;
    justify-content: flex-end;
    color: moccasin;
    text-align: center;
    font-family: 'Calligraffitti';
    font: cursive;
    font-weight: bolder;
    height: 50%;
  }

  .splash-links {
   display: flex;
   margin: 20px;
 }
